/* Reset de estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2 {
    color: #6a0dad; /* Color morado */
}

header {
    background-color: #6a0dad;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px 0;
}

/* Sección Portfolio */
.portfolio-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio-item {
    background-color: #6a0dad;
    color: white ;
    padding: 20px;
    width: 30%;
    text-align: center;
}

/* Sección Cursos */
ul {
    list-style: none;
}

ul li {
    background-color: #6a0dad;
    color: white;
    margin: 10px 0;
    padding: 10px;
}

/* Sección Contacto */
form {
    display: flex;
    flex-direction: column;
}

form label, form input, form button {
    margin: 10px 0;
}

form input, form button {
    padding: 10px;
    font-size: 1em;
}

form button {
    background-color: #48ad0d;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4b006d;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .portfolio-grid {
        flex-direction: column;
    }

    .portfolio-item {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}